body{
    background-image: url(./mink-mingle-g0Qdolm3K14-unsplash.jpg);
    background-size:cover;
    overflow-x: hidden;
    
}
header{
    text-align: center;
}
ul{
    background-color:skyblue;
    text-align: center;    
}
li{
    display: inline-block;
    margin: 20px;
    margin-top: -20px;
    padding-top:45px;
    font-size: x-large;
}
li a{
    color: rgb(2,94,76);
    
}
footer{
     background: burlywood; 
     text-align: center;
     position: absolute;

    }
